.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.header-container {
  height: 100%;
  position: sticky;
  top: 80px;
}

.header {
  width: 297px;
  height: 342px;
  border-radius: 80px;
  background-color: #F5F7FB;
  text-align: right;
  padding-right: 40px;
  position: relative;
}

.header h1 {
  font-size: 40px;
  font-weight: 200;
  text-align: right;
  padding: 80px 0 0;
  margin: 0;
}

.header span {
  font-weight: 600;
}

.header .filter {
  width: 148px;
  height: 48px;
  font-size: 32px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 80px;
  right: 40px;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
}

.header .filter span {
  margin-right: 13px;
  font-weight: 400;
}

.main-container {
  width: 528px;
}

.new-color-register {
  padding: 24px 48px;
  border: 2px dashed #DEE3EC;
}

.new-color-register:hover {
  background-color: #F5F7FB;
}

a {
  text-decoration: none;
  color: #464E5E
}

.main-colors {
  list-style-type: none;
  color: #BFC8DA;
  font-size: 25px;
  padding: 0;
}

.color {
  height: 78px;
  display: flex;
  padding-left: 40px;
  align-items: center;
}

.color:hover {
  background-color: #F5F7FB;
}

.color:active {
  background-color: #EDF0F5;
}

.color-id {
  padding-right: 41px;
  text-align: center;
  width: 58px;
}

.color-mbti {
  background-color: #B2BDCC30;
  color: #464E5E;
  border-radius: 8px;
  padding: 8px;
  width: 72px;
  text-align: center;
}

.color-arrow {
  display: flex;
  align-items: center;
  margin: 0 16px;
}

.color-arrow::before {
  content: "";
  width: 72px;
  border-top: 2px dashed #BFC8DA;
}

.color-chip {
  width: 40px;
  height: 40px;
  border: 3px solid #E8E8E8;
  border-radius: 8px;
  margin: 0;
}

.color-code {
  font-size: 24px;
  margin-left: 15px;
}

@media (max-width: 994px){

  .container {
    width: 343px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-container {
    position: static;
  }

  .header {
    width: 343px;
    height: 122px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header h1 {
    font-size: 24px;
    padding: 0;
    text-align: center;
  }

  .header .filter {
    display: none;
  }

  .main-container {
    width: 343px;
  }

  .new-color-register {
    padding: 20px 24px;
  }

  .main-colors {
    font-size: 16px;
    margin: 0;
  }

  .color{
    width: 100%;
    padding: 0 16px;
  }

  .color-id {
    padding-right: 16px;
    width: 31px;
  }

  .color-mbti {
    padding : 8px;
  }

  .color-arrow {
    width: 60px;
    margin: 0 16px;
  }

  .color-chip {
    width: 40px;
    height: 40px;
    margin: 0;
  }

  .color-code {
    font-size: 16px;
    margin-left: 8px;
  }
}